<div class="container">
  <div class="content" *ngIf="contentMovies$ | async as movies">
    <div class="content" *ngIf="contentMoviesGenre$ | async as cGen">
      <app-movie-card 
        *ngFor="let mov of movies.results  
        | paginate: {itemsPerPage: 20, currentPage: currentPage, totalItems: 4000 }"
        [moviesInfo]="mov" [moviesGenre]="cGen">
      </app-movie-card>
    </div>
  </div>
  <div>
      <pagination-controls class="my-pagination" 
        (pageChange)="pageChanged($event)">
      </pagination-controls>
  </div>
</div>
