<div class="container">
  <div class="wrap">
      <form class="search">
          <input type="text" class="input" #input>
          <button type="submit" class="search-btn" (click)="onSearch(input)">
            <i class="fa fa-search"></i>
          </button> 
        </form>          
  </div> 
  <div class="close" routerLink="">         
      <i class="fa fa-window-close fa-2x" aria-hidden="true"></i> 
  </div>
</div>
<app-body *ngIf="searchedMovies$ | async as sMov" [contentMovies$]="searchedMovies$" [contentMoviesGenre$]="searchedMoviesGenre$">
<div *ngIf="searchedMoviesGenre$ | async as sGen">
  <app-movie-card 
    *ngFor="let mov of sMov.results" 
    [moviesInfo]="mov" 
    [moviesGenre]="sGen">
  </app-movie-card>
</div>
</app-body>













